In [1]:
# Задание 1
import pandas as pd
data = pd.read_csv('ratings.csv')

def class_ (mark):
    if mark['rating'] <= 2:
        f = 'низкий рейтинг'
    elif (mark['rating'] <= 4) and (mark['rating'] > 2):
        f = 'средний рейтинг'
    elif (mark['rating'] == 4.5) or (mark['rating'] == 5):
        f = 'высокий рейтинг'
    return f
data['class_'] = data.apply(class_, axis=1)
data[['userId', 'movieId', 'rating', 'timestamp', 'class_']]
print(data)

        userId  movieId  rating   timestamp           class_
0            1        1     4.0   964982703  средний рейтинг
1            1        3     4.0   964981247  средний рейтинг
2            1        6     4.0   964982224  средний рейтинг
3            1       47     5.0   964983815  высокий рейтинг
4            1       50     5.0   964982931  высокий рейтинг
...        ...      ...     ...         ...              ...
100831     610   166534     4.0  1493848402  средний рейтинг
100832     610   168248     5.0  1493850091  высокий рейтинг
100833     610   168250     5.0  1494273047  высокий рейтинг
100834     610   168252     5.0  1493846352  высокий рейтинг
100835     610   170875     3.0  1493846415  средний рейтинг

[100836 rows x 5 columns]

In [2]:
# Задание 2
import pandas as pd
keywords = pd.read_csv('keywords.csv')

geo_data = {'Центр': ['москва', 'тула', 'ярославль'],
            'Северо-Запад': ['петербург', 'псков', 'мурманск'],
            'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}
 
    
def geo_classificator(row):
    keyword_set = row['keyword'].split(' ') 
    for region, city_list in geo_data.items():
        for i in keyword_set:
            if i in city_list:
                return region           

def undefined(row):
    row['region'] = row.apply(geo_classificator, axis = 1)
    row.fillna({'region':'undefined'}, inplace=True)
    return row

undefined(keywords)

# keywords.groupby('region').count().reset_index()[['region','keyword']]

                       keyword     shows     region
0                           вк  64292779  undefined
1                одноклассники  63810309  undefined
2                        порно  41747114  undefined
3                         ютуб  39995567  undefined
4                    вконтакте  21014195  undefined
...                        ...       ...        ...
99995   эльдорадо старый оскол      3705  undefined
99996      frigate для firefox      3630  undefined
99997                   укрсиб      3630  undefined
99998  погода в ялте на неделю      3688  undefined
99999                     ггму      3630  undefined

[100000 rows x 3 columns]