In [132]:
# Задание 1
import pandas as pd
data = pd.read_csv('ratings.csv')
filtred = data[ data.rating == 5 ]
ratings = filtred.groupby('movieId').count().sort_values('rating', ascending=False).head(1)
ratings

         userId  rating  timestamp
movieId
318         153     153        153

In [133]:
# Задание 2
import pandas as pd
data = pd.read_csv('power.csv')
filtred_countries = data[ (data['country']=='Lithuania') | (data['country']=='Estonia') | (data['country']=='Latvia') ]
filtred_categories = filtred_countries[(filtred_countries['category'] == 4 ) | (filtred_countries['category'] == 12 ) | (filtred_countries['category'] == 21 ) ]
filtred_year = filtred_categories[(filtred_categories['year'] > 2004) & (filtred_categories['year'] < 2011) ]
filtred_quantity = filtred_year[(filtred_year['quantity'] > 0)]
baltics_1 = filtred_quantity.groupby('country').sum()
baltics_2 = baltics_1.reset_index()[['country','quantity']]
baltics_quantity = baltics_2.reset_index()[['quantity']].sum()
baltics_quantity

quantity    240580.0
dtype: float64

In [155]:
# Задание 3
import pandas as pd
data = pd.read_html('https://www.cbr.ru/hd_base/metall/metall_base_new/?UniDbQuery.Posted=True&UniDbQuery.From=14.09.2020&UniDbQuery.To=24.09.2020&UniDbQuery.Gold=true&UniDbQuery.Platinum=true&UniDbQuery.Palladium=true')[0]
data

        Дата*      Золото     Платина    Палладий
0  24.09.2020  4 635,0100  2 096,4400  5 479,2300
1  23.09.2020  4 666,7300  2 172,6200  5 559,0700
2  22.09.2020  4 720,4300  2 261,3300  5 737,6600
3  19.09.2020  4 715,5000  2 274,8300  5 659,3300
4  18.09.2020  4 680,6100  2 299,0800  5 717,4900
5  17.09.2020  4 733,1700  2 363,2100  5 721,3300
6  16.09.2020  4 746,6100  2 332,7500  5 630,0300
7  15.09.2020  4 665,6700  2 258,0100  5 582,5600